apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: capstone-project
spec:
  type: ClusterIP
  selector:
    app: backend
    version: blue
  ports:
  - port: 3000
    targetPort: 3000
