apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-blue
  namespace: capstone-project
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: backend
      color: blue
  template:
    metadata:
      labels:
        app: backend
        color: blue
    spec:
      imagePullSecrets:
        - name: acr-secret    
      containers:
        - name: backend
          image: REPLACE_WITH_IMAGE
          ports:
            - containerPort: 3000
          env:
          - name: DB_HOST
            value: "mysql"
          - name: DB_PORT
            value: "3306"
          - name: DB_USER
            value: "appuser"
          - name: DB_PASSWORD
            value: "password123"
          - name: DB_NAME
            value: "appdb"
    
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 5
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
