apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-green
  namespace: capstone-project
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: app
      version: green
  template:
    metadata:
      labels:
        app: app
        version: green
    spec:
      containers:
        - name: frontend
          image: REPLACE_WITH_IMAGE
          ports:
            - containerPort: 3000
          env:
          - name: REACT_APP_BACKEND_URL
            value: "http://backend:3000"  
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 5
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 20
        