name: Build & Scan frontend

on:
  push:
    branches:
      - dev
      - main
      - 'dev-*'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ACR_LOGIN: ${{ secrets.ACR_LOGIN_SERVER }}
      ACR_NAME: ${{ secrets.ACR_NAME }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push frontend image
        id: build-frontend
        
        run: |
          TAG=${GITHUB_SHA::8}
          docker build -t $ACR_LOGIN/fs-frontend:$TAG ./frontend
          docker push $ACR_LOGIN/fs-frontend:$TAG
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Scan frontend image with Trivy
        run: |
          TAG=${{ steps.build-frontend.outputs.tag }}
          docker run --rm -v /var/run/docker.sock:/var/run/docker.sock aquasec/trivy:latest image $ACR_LOGIN/fs-backend:$TAG || true
